body{
    margin: 0;
    padding: 0;
}
/* Banner Section */
.banner-container{
    background-image: url("images/planet-earth-from-space.png");
    width: 100%;
    height: 100vh;
    position: relative;
}
.banner-container > img{
    width: 100%;
    height: 100vh;
    position: absolute;
}
/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.logo-img{
    width: 231px;
    height: 93px;
    float: left;
    margin: 50px 0 0 96px;
}
.right-float{
    float: right;
    padding: 0 46px;
    margin-top: 79px;
  }
  .right-float button{
    border: none;
    background: none;
    color: #FAFBFE;
  }
  li a{
    text-decoration: none;
    color: #FAFBFE;
  }
  /* Complex decision Section  */
  .Complex-container{
    margin-top: 200px;
    display: flex;
    
  }
  .hand-img{
    width: 734px;
    height: 592px;
}
  .complex-article p{
    background-color: #FFFFFF;
    padding: 40px 67px;
    margin: 387px 0 0 -108px;
  }
  .finix-img{
    margin-left: 318px;
  }
  .finix-img img{
    
    width: 115px;
  }
  /* specialized */
  .specialized-container{
    background-image: url("images/Group3.png");
    width: 100%;
    height: 600px;
  }
  